@charset "utf-8";

/****************/
/* VISTA MOVIL */
/****************/

/*MAIN*/
main#main>div:nth-child(1)>h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(194, 154, 80);
  font-size: 3em;
  text-decoration: underline;
  text-align: left;
  padding: 15px;
}

/*CALENDARIO*/
div#calendario {
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-bottom: 30px;
}

div#calendario iframe {
  width: 100%;
}


/****************/
/* VISTA TABLET */
/****************/

@media (min-width:768px) {

  /*MAIN*/
  main#main>div:nth-child(1)>h2 {
    margin-left: 220px;
    margin-top: 20px;
  }

  /*CALENDARIO*/
  div#calendario {
    display: flex;
    justify-content: center;
  }

  div#calendario iframe {
    border-radius: 10px;
    width: 50%;

  }
}